<div class="clashfinderShow" style="height:{{show_length}}px; margin-top:{{changeover}}px; background-color:{{show_colour}}">
    <div class="clashfinderShowArtist">{{ artist_name }}</div>
    <div class="clashfinderShowTimes">{{start_disp}} - {{end_disp}}</div>
</div>