<div class="clashfinderShow" style="background-color: {{colour}}; height: calc({{show_length}}px * 3); margin-top: {{pixel_position}}px">
    <div class="clashfinderShowVenue">{{venue_name}}</div>
    <div class="clashfinderShowArtist">{{ artist_name }}</div>
    <div class="clashfinderShowTimes">{{start_disp}} - {{end_disp}}</div>
</div>