    <div class="timeGuide">
        {{#time_guide}}
            <div class="clock {{#open}}open{{/open}}" style="top:{{pixel_position}}px">
                <div class="clockText">{{time}}</div>
            </div>
        {{/time_guide}}
    </div>