    <div class="timeGuide">
        <div class='venueTitle'>&nbsp;</div>
        {{#time_guide}}
            <div class="clock {{#open}}open{{/open}}" style="margin-top:{{margin_position}}px">
                <div class="clockText">{{time}}</div>
            </div>
        {{/time_guide}}
    </div>