    <div class="timeGuide">
        <div class='venueTitle'>&nbsp;</div>
        {{#time_guide}}
            <div class="clock {{#open}}open{{/open}}">{{time}}</div>
        {{/time_guide}}
    </div>