<div class="artist listHeader">
    <div class="artistName">Artist Name</div>
    <div class="artistBio">Bio</div>
    <div class="instagram">Instagram 2</div>
    <div class="twitter">Twitter</div>
    <div class="threads">Threads</div>
    <div class="facebook">Facebook</div>
</div>
{{#artists}}
    {{> artist }}
{{/artists}}
