<section id="artists">
  <div class="new">
    <h2>Add New Artist</h2>
    <form hx-post="admin/php/addArtist.php" hx-target="#artists" class="newForm" autocomplete="on">
      <label for="artistName">
        Artist Name
        <input type="text" name="name" id="artistName" required autocomplete="on" />
      </label>
      <label for="artistBio">
        Artist Bio
        <textarea name="bio" id="artistBio" cols="30" rows="10"></textarea>
      </label>
      <label for="artistInstagram">
        Instagram
        <input type="text" name="instagram" id="artistInstagram" />
      </label>
      <label for="artistTwitter">
        Twitter
        <input type="text" name="twitter" id="artistTwitter" />
      </label>
      <label for="artistThreads">
        Threads
        <input type="text" name="threads" id="artistThreads" />
      </label>
      <label for="artistFacebook">
        Facebook
        <input type="text" name="facebook" id="artistFacebook" />
      </label>
      <label for="artistSubmit">
        <input id = "artistSubmit" type="submit" value="Add Artist" />
      </label>
    </form>
  </div>
</section>
