    {{^show.update}}
      <h2>Add New Show</h2>
    {{/show.update}}
    {{#show.update}}
      <h2>Update Show Info</h2>
    {{/show.update}}
    <form hx-post="../admin/php/{{^show.update}}addShow.php{{/show.update}}{{#show.update}}updateShow.php{{/show.update}}" target="this" class="newForm" autocomplete="on">
    <label for="venueSelect">
        Select Venue
        <select name="venue" id="venueSelect">
            {{#venues}}
                {{> venueSelect}}
            {{/venues}}
        </select>
    </label>
    <label for="artistSelect">
        Select Artist
        <select name="artist" id="artistSelect">
            {{#artists}}
                {{> artistSelect}}
            {{/artists}}
            </select>
        </label>
    <label for="startTime">
        Show Start
        <input type="datetime-local" name="start_time" id="startTime" value="{{show.start_time}}">
    </label>
    <label for="endTime">
        Show Start
        <input type="datetime-local" name="end_time" id="endTime" value="{{show.end_time}}">
    </label>
    <label for="showNotes">
        Show Notes
        <textarea name="notes" id="showNotes" cols="30" rows="10">{{show.notes}}</textarea>
    </label>
      {{^show.show_id}}
        <label for="showSubmit">
          Add Show
          <input id="showSubmit" type="submit" value="Add Show" />
        </label>
      {{/show.show_id}}
      {{#show.show_id}}
        <label for="showUpdate">
          Update Show
          <input type="hidden" name="show_id" value="{{show.show_id}}" />
          <input id="showUpdate" type="submit" name="showUpdate" value="Update Show" />
        </label>
      {{/show.show_id}}
</form>
