<section id="params" class="typeContainer">
  <div id="newParamsForm" hx-get="php/newParamsForm.php" hx-trigger="load, updateParamsForm from:body" hx-target="this">
    <img src="/assets/graphics/mlc_icon_small.svg" alt="loading spinner" class="htmx-indicator loading" />
  </div>
</section>

<section id="venues" class="typeContainer">
  <h2 class="containerTitle">Venues</h2>
  <div id="venuesList" class="list" hx-get="php/getVenues.php" hx-trigger="load, newVenue from:body" hx-target="this">
    <img src="/assets/graphics/mlc_icon_small.svg" alt="loading spinner" class="htmx-indicator loading" />
  </div>
  <div id="newVenueForm" hx-get="php/newVenueForm.php" hx-trigger="load, clearVenueForm from:body" hx-target="this">
    <img src="/assets/graphics/mlc_icon_small.svg" alt="loading spinner" class="htmx-indicator loading" />
  </div>
</section>

<section id="artists" class="typeContainer">
  <h2 class="containerTitle">Artists</h2>
  <div id="artistList" class="list" hx-get="php/getArtists.php" hx-trigger="load, newArtist from:body" hx-target="this">
    <img src="/assets/graphics/mlc_icon_small.svg" alt="loading spinner" class="htmx-indicator loading" />
  </div>
  <div id="newArtistForm" hx-get="php/newArtistForm.php" hx-trigger="load, clearArtistForm from:body" hx-target="this">
    <img src="/assets/graphics/mlc_icon_small.svg" alt="loading spinner" class="htmx-indicator loading" />
  </div>
</section>

<section id="shows" class="typeContainer">
  <h2 class="containerTitle">Shows</h2>
  <div id="clashFinder" class="clashFinder" hx-get="php/getShows.php" hx-trigger="load, newShow from:body" hx-target="this">
    <img src="/assets/graphics/mlc_icon_small.svg" alt="loading spinner" class="htmx-indicator loading" />
  </div>
  <div id="newShowForm" hx-get="php/newShowForm.php" hx-trigger="load, clearShowForm from:body, newVenue from:body, newArtist from:body" hx-target="this">
    <img src="/assets/graphics/mlc_icon_small.svg" alt="loading spinner" class="htmx-indicator loading" />
  </div>
</section>
