
<div class="bold" id="contentHolder">
    <form hx-post="admin/php/testPost.php" hx-target="body">
        <input type="text" name = "newContent" value = "{{content}}">
        <input type="submit" name = "submit" value = "submit">
    </form>
</div>