<div class="venue listHeader">
<div class="venueName">Venue Name</div>
<div class="venueAddress">Address 1</div>
<div class="venueAddress">Address 2</div>
<div class="venueAddress">City</div>
<div class="venueAddress">Post Code</div>
</div>
{{#venues}}
    {{> venue }}
{{/venues}}
