.venueTracks {
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin: 0 1vw;
  padding: 0 1vw;
}

.venueTrack {
  display: block;
  position: relative;
  break-after: column;
  border-right: 1px dashed #444;
  border-left: 1px dashed #444;
  height: auto;
}

.venueTitle {
  height: 25px;
  text-align: center;
  vertical-align: middle;
}
