main {
  font-size: 1em;
  display: block;
  width: 100vw;
  max-width: auto;
  color: #bbb;
}

h2 {
  color: var(--pink-text);
}
.clashFinderContainer {
  position: relative;
  margin: 2em 0;
  padding: 2em 0.5em 0.5em 0.5em;
  border-radius: 10px;
  border: 1px solid #444;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.clashFinder {
  font-size: 1rem;
  position: relative;
  width: 90%;
  margin-left: 5%;
}
