.venueTracks {
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  margin: 0 1vw;
  padding: 0 1vw;
}

.venueTrack {
  display: block;
  position: relative;
  break-after: column;
  border-right: 1px dashed #444;
  border-left: 1px dashed #444;
  height: auto;
}

.venueTitle {
  color: #000;
  height: 25px;
  max-height: 25px;
  text-align: center;
  vertical-align: middle;
}

@media (orientation: portrait) {
  .venueTitle {
    font-size: 0.7em;
  }
}
