.clashfinderShow {
  font-size: 1.6em;
  width: 51%;
}

.clashfinderShow:nth-of-type(odd) {
  margin-left: 0px;
  margin-right: auto;
}

.clashfinderShow:nth-of-type(even) {
  text-align: right;
  margin-right: 0px;
  margin-left: auto;
}

.clashfinderShowVenue {
  padding-top: 15px;
  font-size: 0.8em;
  font-style: italic;
  color: #999;
}

.clashfinderShowTimes {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.6em;
  color: #999;
}
