.timeGuide {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  margin-left: 5%;
  color: #bbb;
}

.timeGuide .clock {
  position: relative;
  border-top: 1px dashed #666;
}

.timeGuide .clock .clockText {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
  font-size: 0.8rem;
  position: absolute;
  left: -3em;
  top: -0.5em;
}

.timeGuide .open {
  margin-top: 0;
}
